In [5]:
import random

colors = ['red', 'blue', 'green', 'black', 'white', 'yello', 'pink', 'orange', 'purple', 'grey', 'brown', 'maroon']
dress_types = ['t-shirt', 'shirt', 'skirt', 'frock', 'night dress', 'blouse', 'trouser', 'shorts']
skin_tones = ['#EBCCAB', '#D2996C', '#C37C4D', '#B66B3E', '#8E4B32']
matches = [0, 1]

dataset = []

for _ in range(10000):
    color = random.choice(colors)
    dress_type = random.choice(dress_types)
    skin_tone = random.choice(skin_tones)
    match = random.choice(matches)
    
    dataset.append([color, dress_type, skin_tone, match])

In [6]:
import csv

header = ['colors', 'dress_type', 'skin_tone', 'is_match']

with open('dataset.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerows(dataset)

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('dataset.csv')

In [9]:
data.head(5)

   colors dress_type skin_tone  is_match
0  maroon      skirt   #B66B3E         0
1  orange      shirt   #D2996C         0
2   yello      skirt   #C37C4D         1
3   brown      frock   #D2996C         1
4  orange      shirt   #C37C4D         0

In [11]:
data['is_match'].value_counts()

1    5002
0    4998
Name: is_match, dtype: int64